<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Maria | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image2.gif", alt="Maria")
		img(src="image3.jpg", alt="Maria")
		img(src="image4.gif", alt="Maria")
		p maria
		p surface design for a brazilian beauty salon. a treat for your hair and eyes.