<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Floral Baião | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Huditto")
		
		p huditto
		p No text here, just take a momento to look how adorable this boy is.
	include ../templates/footer.pug