<!DOCTYPE html>
html(lang="en")
head
	include templates/basicHead.pug
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Sharon Pires
	link(href="https://fonts.googleapis.com/css?family=Inconsolata", rel="stylesheet")
	link(type="text/css", href="css/style.css", rel="stylesheet")
body
	include templates/nav.pug
	main
		.grid
			mixin item(url, title, category)
				a.item(href= url+"/", class=category)
					div(data-title=title)
						img(src="img/portfolio/"+url+".jpg", alt=title)
			+item('maria', 'maria', 'design pattern')
			+item('beta-luca', 'Beta Luca', 'design illustration')
			+item('quatinguele', 'quatinguelê', 'illustation pattern')
			+item('rainbunny', 'rainbunny', 'pattern illustration')
			+item('picnic', 'picnic', 'illustation')
			+item('lemon', 'lemon', 'pattern illustration')
			+item('warrior', 'warrior', 'illustration lettering')
			+item('lalisse', 'Lalisse', 'illustration design')
			+item('folk-it-i', 'Folk it I', 'illustration')
			+item('baiao', 'floral baião', 'lettering design')
			+item('andrea-manzoni', 'Andrea Manzoni', 'design illustration')
			+item('cactus', 'cactus', 'illustration design')
			+item('anna-kuhl', 'Anna Kuhl', 'illustration design')
			+item('brave-travelers', 'brave travellers book', 'illustration')
			+item('huditto', 'huditto', 'illustration')
			+item('dinos', 'dinos', 'illustration design')
			+item('le-petit-parisien', 'Le Petit Parisien', 'illustration design')
			+item('folk-it-ii', 'Folk it II', 'illustration')


			//- +item('letters', 'letters', 'lettering')
			//- +item('naestrada', 'na estrada - food truck', 'design')
			//- +item('somostodasbelas', 'somos todas belas', 'illustration')
			//- +item('folkit', 'Folk it', 'illustration')

	include templates/footer.pug
