<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Somos todas belas | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Somos todas belas")
		img(src="image2.jpg", alt="Somos todas belas")
		img(src="image3.jpg", alt="Somos todas belas")
		img(src="image4.jpg", alt="Somos todas belas")
		img(src="image5.jpg", alt="Somos todas belas")
		img(src="image6.jpg", alt="Somos todas belas")
		img(src="image7.jpg", alt="Somos todas belas")
		p somos todas belas
		p illustration project for a women's health instagram account. adorable and classy.
		p Project done at 
			a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
	include ../templates/footer.pug