<!DOCTYPE html>
html(lang="en")
head
	include templates/basicHead.pug
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Sharon Pires
	link(href="https://fonts.googleapis.com/css?family=Inconsolata", rel="stylesheet")
	link(type="text/css", href="css/style.css", rel="stylesheet")
body
	include templates/nav.pug
	main
		.grid
			mixin item(url, title, category)
				a.item(href= url+"/", class=category)
					div(data-title=title)
						img(src="../../img/portfolio/"+url+".jpg", alt=title)
			+item('maria', 'maria', 'design pattern')
			+item('warrior', 'warrior', 'illustration lettering')
			+item('quatinguele', 'quatinguelê', 'illustation pattern')
			+item('rainbunny', 'rainbunny', 'pattern illustration')
			+item('picnic', 'picnic', 'illustation')
			+item('lemon', 'lemon', 'pattern illustration')
			+item('baiao', 'floral baião', 'lettering design')
			+item('dinos', 'dinos', 'illustration design')
			+item('cactus', 'cactus', 'illustration design')
			+item('letters', 'letters', 'lettering')
			+item('naestrada', 'na estrada - food truck', 'design')
			+item('somostodasbelas', 'somos todas belas', 'illustration')
	include templates/footer.pug
