<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Sharon Pires
	link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Slabo+27px", rel="stylesheet")
	link(type="text/css", href="css/style.css", rel="stylesheet")
body
	include templates/nav.pug
	main
		.grid
			a(href="cactus/")
				div(data-title="Cactus")
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div(data-title="Find Truck")
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div(data-title="Coletrânea")
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/launcher.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/launcher.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div(data-title="Cactus")
					img(src="../img/portfolio/launcher.jpg", alt="")