<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Sharon Pires
	link(href="https://fonts.googleapis.com/css?family=Abril+Fatface", rel="stylesheet")
	link(type="text/css", href="css/style.css", rel="stylesheet")
body
	nav
		h1 Sharon Pires
	main
		.row
			a(href="#")
				div
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/launcher.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/launcher.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/cactus.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/findtruck.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/elpaso.jpg", alt="")
			a(href="#")
				div
					img(src="../img/portfolio/launcher.jpg", alt="")