<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Picnic | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Picnic")
		p picnic
		p personal illustration project of a coati-girl and her friend enjoying an adorable picnic in the woods. they will composte the leftovers, don't worry.
	include ../templates/footer.pug