<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Warrior | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Warrior")
		p Warrior
		p illustration created for a feminist calendar. "she wasn't looking for a knight, she was looking for a sword.". these females are strong as hell.
	include ../templates/footer.pug