<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Sharon Pires
	link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Slabo+27px", rel="stylesheet")
	link(type="text/css", href="../css/style.css", rel="stylesheet")
body
	include ../templates/nav.pug
	main
		.grid
			h1 Ampersand
			mixin item(url, title, category)
				a.item(href= url+"/", data-category=category)
					div(data-title=title)
						img(src="../../img/portfolio/"+url+".jpg", alt=title)
			+item('ampersand', 'Ampersand', 'design')
			+item('baiao', 'Baião Florido', 'lettering')
			+item('cactus', 'Cactus', 'illustration')
			+item('cervejoteca', 'Cervejoteca', 'design')
			+item('coletranea', 'Coletrânea', 'lettering')
			+item('dino', 'Dinos', 'illustration')
			+item('elpaso', 'El Paso 102', 'design')
			+item('findtruck', 'Find Truck', 'design')
			+item('launcher', 'Launcher themes', 'design')
			+item('maria', 'Maria', 'design')
			+item('naestrada', 'Na Estrada - Food truck', 'design')
			+item('somostodasbelas', 'Somos todas belas', 'pattern')
