<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Anna Kuhl | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects.connected
		img(src="image1.jpg", alt="Anna Kuhl")
		img(src="image2.jpg", alt="Anna Kuhl")
		img(src="image3.jpg", alt="Anna Kuhl")
		img(src="image4.jpg", alt="Anna Kuhl")
		img(src="image5.jpg", alt="Anna Kuhl")
		img(src="image6.jpg", alt="Anna Kuhl")
		img(src="image7.jpg", alt="Anna Kuhl")

		p Anna Kuhl
		p visual identity designed for one of the most creative woman I've ever met. lot of colors, very cute, and yet, modern. just like her :)
	include ../templates/footer.pug