<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Lemon | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Warrior")
		p lemon
		p personal surface design project. very citric and yummy.
	include ../templates/footer.pug