<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Floral Baião | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Brave Travelers")
		img(src="image2.jpg", alt="Brave Travelers")
		
		p brave travelers
		p illustration for a cover of a book written by 7 strong women (again, these females are strong as hell). Graphic Design by 
			a(href="https://www.behance.net/abassanetto", target="_blank") Ana Bassaneto.
	include ../templates/footer.pug