<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Folk It II | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Folk It")
		
		p folk it
		p poster for another edition of the awesome folk party "Que se Folk" (or folk it) in São Paulo.
	include ../templates/footer.pug