<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Letters | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.png", alt="Letters")
		p letters
		p a collection of various experiments with different types of letters.
		p Sept 2017