<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Dinos | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Dinos")
		img(src="image2.jpg", alt="Dinos")
		img(src="image3.jpg", alt="Dinos")
		img(src="image4.jpg", alt="Dinos")
		img(src="image5.gif", alt="Dinos")
		p dinos
		p illustration and icon design for a cretacious theme website. rawr.
	include ../templates/footer.pug