nav
	h1 Sharon Pires
	p Hi there, Sharon here. 
		br
		| I'm a Designer based in Campinas|Brazil. 
		br
		| Currently working at 
		a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
		|  and at 
		a(href="http://meltdesign.com.br") Melt Design
		| .
	.filter
		div 
			a.filter_active#all All
		div
			a#illustration Illustration
		div 
			a#design Design
		div 
			a#pattern Pattern
		div 
			a#lettering Lettering
	.contact
		a(target="_blank", href="mailto:hi@sharonpires.com") hi@sharonpires.com
		a(target="_blank", href="http://instagram.com/shacombiscoito") instagram
		a(target="_blank", href="http://dribbble.com/sharonpires") dribbble
		br
		span(href="javascript:") Copyright 2018