nav
	h1 Sharon Pires
	p Olá, me chamo Sharon Pires. 
		br
		| Sou designer no 
		a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero 
		| em Campinas - SP. Nos útimos anos, tenho trabalhado com design gráfico, visual, ilustrações, letras e fotografia, criando novas experiências por meio de projetos simples e belos de design.
		p O que você quer ver?
	.filter
		button.filter_active#all 
			p All
		button#design 
			p Design
		button#pattern 
			p Pattern
		button#lettering 
			p Lettering
	.contact
		a(target="_blank", href="mailto:hi@sharonpires.com") hi@sharonpires.com
		a(target="_blank", href="http://instagram.com/shacombiscoito") instagram
		a(target="_blank", href="http://dribbble.com/sharonpires") dribbble
		br
		span(href="javascript:") Copyright 2018