
<nav>
  <h1>Sharon Pires</h1>
  <p>Hi there, Sharon here. <br/>I'm a Designer based in Campinas|Brazil. <br/>Currently working at <a href="http://estudioquadrilatero.com">Estúdio Quadrilátero</a> and at <a href="http://meltdesign.com.br">Melt Design</a>.</p>
  <div class="filter">
    <div> <a class="filter_active" id="all">All</a></div>
    <div> <a id="design">Design</a></div>
    <div> <a id="pattern">Pattern</a></div>
    <div> <a id="lettering">Lettering</a></div>
  </div>
  <div class="contact"><a target="_blank" href="mailto:hi@sharonpires.com">hi@sharonpires.com</a><a target="_blank" href="http://instagram.com/shacombiscoito">instagram</a><a target="_blank" href="http://dribbble.com/sharonpires">dribbble</a><br/><span href="javascript:">Copyright 2018</span></div>
</nav>