<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Floral Baião | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Floral Baião")
		img(src="image2.jpg", alt="Floral Baião")
		img(src="image3.jpg", alt="Floral Baião")
		
		p floral baião
		p lettering project based on a awesome traditional brazilian northeast rhythm, the baião.
	include ../templates/footer.pug