<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Na Estrada - Food truck | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Na Estrada - Food truck")
		img(src="image2.jpg", alt="Na Estrada - Food truck")
		img(src="image3.jpg", alt="Na Estrada - Food truck")
		img(src="image4.jpg", alt="Na Estrada - Food truck")
		img(src="image5.jpg", alt="Na Estrada - Food truck")
		img(src="image6.jpg", alt="Na Estrada - Food truck")
		p na estrada - food truck
		p illustrations and visual identity for a local food truck, called "on the road". two burgers inside a cute doggy bag for the way, please.
	include ../templates/footer.pug