<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Le Petit Parisien | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects.connected
		img(src="image1.jpg", alt="Le Petit Parisien")
		img(src="image2.jpg", alt="Le Petit Parisien")
		img(src="image3.jpg", alt="Le Petit Parisien")
		img(src="image4.jpg", alt="Le Petit Parisien")

		p le petit parisien
		p visual identity for a French pâtisserie in Campinas - SP. their crème brûlée tastes like heaven.
		p Project done at 
			a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
	include ../templates/footer.pug