<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Quatinguelê | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects
		img(src="image1.jpg", alt="Quatinguelê")
		p quatinguelê
		p personal surface design project of a coati dance. if you are curious about what they are dancing to, click  
			a(href="https://www.youtube.com/watch?v=lc9fsP3NtJw", target="_blank") here
			|  and enjoy.
	include ../templates/footer.pug