.contact
	a(target="_blank", href="mailto:oi@sharonpires.com") oi@sharonpires.com
	a(target="_blank", href="http://instagram.com/shacombiscoito") instagram
	a(target="_blank", href="http://dribbble.com/shapires") dribbble
	span(href="javascript:") Copyright 2018
script(type="text/javascript", src="js/umbrella.min.js")
script(type="text/javascript", src="js/filter.js")