<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Andrea Manzoni | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects.connected
		img(src="image1.jpg", alt="Andrea Manzoni")
		img(src="image2.jpg", alt="Andrea Manzoni")
		img(src="image3.jpg", alt="Andrea Manzoni")
		img(src="image4.jpg", alt="Andrea Manzoni")

		
		p andrea manzoni
		p visual identity created for a accessories designer. we worked on a clean and delicate concept to match her work.
		p Project done at 
			a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
	include ../templates/footer.pug