<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Beta Luca | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects.connected
		img(src="image1.jpg", alt="Beta Luca")
		img(src="image2.jpg", alt="Beta Luca")
		img(src="image3.jpg", alt="Beta Luca")
		img(src="image4.jpg", alt="Beta Luca")
		img(src="image5.jpg", alt="Beta Luca")
		img(src="image6.jpg", alt="Beta Luca")

		p beta luca
		p project created for a scenographer that creates unique designs for weddings.
		p Project done at 
			a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
	include ../templates/footer.pug