<!DOCTYPE html>
html(lang="en")
head
	include ../templates/internalHead.pug
	title Lalisse | Sharon Pires
body
	include ../templates/navInternal.pug
	main.projects.connected
		img(src="image1.jpg", alt="Lalisse")
		img(src="image2.jpg", alt="Lalisse")
		img(src="image3.jpg", alt="Lalisse")
		img(src="image4.jpg", alt="Lalisse")

		p lalisse
		p visual identity created for a women's health clinic.
		p Project done at 
			a(href="http://estudioquadrilatero.com") Estúdio Quadrilátero
	include ../templates/footer.pug